<div class="container p-5 bg-light"> 
    <h2 class="text-left text-dark">{{author}}</h2>
    <div class="row g-4">
        {{#each books}}
        <div class="col-md-6 col-lg-3">
            <div class="card bg-dark card-book-item">
                <a href="/books/{{this.title}}">
                    <img class="card-img-top" src="{{this.image}}" alt={{this.title}}>
                </a>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<style>
    *{
        background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fdev.to%2Fjuligaioso%2Fen-us-creating-a-background-gradient-with-3-lines-of-pure-css-5cl9&psig=AOvVaw3B-fn0U41dbfHBHgB7FVAH&ust=1652890704924000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCOjVvPH35vcCFQAAAAAdAAAAABAD);
    }
</style>