<div class="container p-5 bg-light border border-3 rounded">
    <div class='mt-4'>
        <h3>Chỉnh sửa tác giả</h3>
        <form method="POST" action="/author/{{author.author_id}}?_method=PUT">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" value="{{author.name}}" id="name">
            </div>

            <div class="form-group">
                <label for="image">Image</label>
                <input type="text" name="image" class="form-control" value = "{{author.image}}" id="image">
            </div>

            <button type="submit" class="btn btn-primary">Cập Nhật</button>
        </form>
    </div>
</div>