<div class="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            
            <a class="navbar-brand" href="/">
                <img src="https://acsantangelo1907.com/hinh-quyen-sach-va-cay-but/imager_7_19127_700.jpg" width="50" height="50" class="d-inline-block align-top" alt="">
            </a>

            <div class="navbar-nav justify-content-center">
                <a class="nav-link" href="/category">Category</a>
                &emsp;&emsp;&emsp;&emsp;&emsp;
                <a class="nav-link" href="/author"> Author</a>
                &emsp;&emsp;&emsp;&emsp;&emsp;
                <a class="nav-link" href="/publisher">Publisher</a>
            </div>
            
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Name of book" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

        </div>
    </nav>
</div>