<div class = "mt-4">
    <div class="row">

        {{#each book}}
        <div class="col-lg-3">
            <button>READ</button>
        </div>

        <div class="col-lg-3">
            <button>BUY</button>
        </div>

        <div class="col-lg-9">
            <h2>{{this.title}}</h2> 
            <img src="{{this.image}}">
            <p>{{this.description}}</p>
        </div>
        {{/each}}

    </div>
</div>

<div>{{table.title}}</div>