<br>
<br>
<br>
<br>

<div class="container p-5 bg-light">
    <h2 class="text-left text-dark">All Author</h2>
    <div class="row g-4">
        {{#each authors}}
        <div class="col-md-6 col-lg-3">
            <div class="card bg-dark card-book-item">
                <a href="/author/{{this.name}}">
                    <img class="card-img-top" src="{{this.image}}"  width="200" height="200">
                </a>
                <div class="card-body">
                    <h6 class="card-title text-light">{{this.name}}</h6>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>