<div class="container p-5 bg-light border border-3 rounded">
    <div class='mt-4'>
        <h3>Chỉnh sửa sách</h3>
        <form method="POST" action="/books/update">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title" class="form-control" id="title">
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" name="description" class="form-control" id="description">
            </div>

            <div class="form-group">
                <label for="price">Price</label>
                <input type="text" name="price" class="form-control" id="price">
            </div>

            <div class="form-group">
                <label for="rating">Rating</label>
                <input type="text" name="rating" class="form-control" id="rating">
            </div>

            <div class="form-group">
                <label for="amount">Amount</label>
                <input type="text" name="amount" class="form-control" id="amount">
            </div>

            <div class="form-group">
                <label for="book_image">Book Image</label>
                <input type="text" name="book_image" class="form-control" id="book_image">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>