<div class="mt-4">
    <div class="container">
        <div class = "add book text-left font-weight-bold ">
            <a href="/books/create">
                <button class = "btn btn-primary">
                    <h3>Thêm sách</h3>
                </button>
            </a>
        </div>
        

        <div class="row g-4">
            {{#each books}}
            <div class="card col-lg-3 bg-black">
                <div class="card bg-dark card-book-item">
                    <a href="/books/{{this.title}}">
                        <img class="card-img-top" src="{{this.image}}" alt={{this.title}}>
                    </a>
                </div>

                <div class="card-body">
                    <button class ="rounded btn btn-primary btn-sm">DELETE</button>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>